*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  font-family: "lato", sans-serif; }

body {
  box-sizing: border-box;
  font-family: inherit; }

@keyframes animate-1 {
  0% {
    transform: translateX(800%); }
  80% {
    transform: translateX(-10%);
    box-shadow: 0 1.5rem 2rem rgba(255, 255, 255, 0.5); }
  100% {
    transform: translateX(0);
    box-shadow: none; } }

@keyframes animate-2 {
  0% {
    transform: translateX(700%);
    box-shadow: 0 1.5rem 2rem rgba(255, 255, 255, 0.5); }
  80% {
    transform: translateX(-10%);
    box-shadow: 0 1.5rem 2rem rgba(255, 255, 255, 0.5); }
  100% {
    transform: translateX(0);
    box-shadow: none; } }

@keyframes animate-3 {
  0% {
    transform: translateX(600%); }
  80% {
    transform: translateX(-10%);
    box-shadow: 0 1.5rem 2rem rgba(255, 255, 255, 0.5); }
  100% {
    transform: translateX(0);
    box-shadow: none; } }

@keyframes animate-4 {
  0% {
    transform: translateX(500%); }
  80% {
    transform: translateX(-10%);
    box-shadow: 0 1.5rem 2rem rgba(255, 255, 255, 0.5); }
  100% {
    transform: translateX(0);
    box-shadow: none; } }

@keyframes animate-5 {
  0% {
    transform: translateX(400%); }
  80% {
    transform: translateX(-10%);
    box-shadow: 0 1.5rem 2rem rgba(255, 255, 255, 0.5); }
  100% {
    transform: translateX(0);
    box-shadow: none; } }

@keyframes animate-6 {
  0% {
    transform: translateX(300%); }
  80% {
    transform: translateX(-10%);
    box-shadow: 0 1.5rem 2rem rgba(255, 255, 255, 0.5); }
  100% {
    transform: translateX(0);
    box-shadow: none; } }

@keyframes animate-7 {
  0% {
    transform: translateX(200%); }
  80% {
    transform: translateX(-10%);
    box-shadow: 0 1.5rem 2rem rgba(255, 255, 255, 0.5); }
  100% {
    transform: translateX(0);
    box-shadow: none; } }

@keyframes animate-8 {
  0% {
    transform: translateX(100%); }
  80% {
    transform: translateX(-10%);
    box-shadow: 0 1.5rem 2rem rgba(255, 255, 255, 0.5); }
  100% {
    transform: translateX(0);
    box-shadow: none; } }

.animate-link-1 {
  animation: animate-1 0.5s ease; }

.animate-link-2 {
  animation: animate-2 1s ease; }

.animate-link-3 {
  animation: animate-3 1.5s ease; }

.animate-link-4 {
  animation: animate-4 2s ease; }

.animate-link-5 {
  animation: animate-4 2.5s ease; }

.animate-link-6 {
  animation: animate-4 3s ease; }

.animate-link-7 {
  animation: animate-4 3.5s ease; }

.animate-link-8 {
  animation: animate-4 4s ease; }

.gallery-container {
  background: #000; }
  .gallery-container::after {
    content: "";
    display: table;
    clear: both; }
  .gallery-container .img-link {
    box-sizing: border-box;
    border: 1px solid #1d262d;
    float: left;
    width: calc(100%/8);
    height: 100vh;
    text-align: center;
    position: relative;
    transition: all .3s ease-in; }
    .gallery-container .img-link {
      text-decoration: none;
      text-transform: uppercase; }
    .gallery-container .img-link:hover {
      transform: scale(1.2) skewX(-2deg);
      box-shadow: 0 1.5rem 2rem rgba(255, 255, 255, 0.5); }
  .gallery-container .img-heading {
    transform: translateY(45vh);
    font-size: 2rem;
    font-style: italic;
    color: #fff;
    letter-spacing: .2rem; }
  .gallery-container .img-link-1 {
    background-image: url(../img/taichi.png); }
    .gallery-container .img-link-1 {
      background-position: center;
      background-size: cover; }
  .gallery-container .img-link-2 {
    background-image: url(../img/flash-grid.png); }
    .gallery-container .img-link-2 {
      background-position: center;
      background-size: cover; }
  .gallery-container .img-link-3 {
    background-image: url(../img/gravity.png); }
    .gallery-container .img-link-3 {
      background-position: center;
      background-size: cover; }
  .gallery-container .img-link-4 {
    background-image: url(../img/rising-rect.png); }
    .gallery-container .img-link-4 {
      background-position: center;
      background-size: cover; }
  .gallery-container .img-link-5 {
    background-image: url(../img/lighting-tunnell.png); }
    .gallery-container .img-link-5 {
      background-position: center;
      background-size: cover; }
  .gallery-container .img-link-6 {
    background-image: url(../img/growing-rect.png); }
    .gallery-container .img-link-6 {
      background-position: center;
      background-size: cover; }
  .gallery-container .img-link-7 {
    background-image: url(../img/grid_home.png); }
    .gallery-container .img-link-7 {
      background-position: center;
      background-size: cover; }
  .gallery-container .img-link-8 {
    background-image: url(../img/gear.png); }
    .gallery-container .img-link-8 {
      background-position: center;
      background-size: cover; }

.canvas__wrapper {
  position: relative;
  width: 100%;
  height: 100vh; }

.canvas__wrapper-canvas {
  background-color: #000; }
  .canvas__wrapper-canvas-taichi {
    background-color: #1d262d; }

.canvas__wrapper [class^='canvas__wrapper-'] {
  position: absolute;
  color: #fff;
  z-index: 2; }

.canvas__wrapper-link .prev {
  display: inline-block;
  position: relative;
  font-weight: 700;
  font-size: 2rem;
  padding: 2rem 5rem 5rem 1rem;
  transform: translateX(10%);
  color: #fff;
  transition: all .3s ease; }
  .canvas__wrapper-link .prev {
    text-decoration: none;
    text-transform: uppercase; }
  .canvas__wrapper-link .prev::after {
    display: inline-block;
    content: 'all projects';
    transform: translate(20%, -20%);
    opacity: 0;
    transition: all .3s ease;
    font-size: 1.2rem;
    letter-spacing: .2rem; }
  .canvas__wrapper-link .prev:hover {
    transform: translateX(-5%); }
    .canvas__wrapper-link .prev:hover:after {
      transform: translate(10%, -20%);
      opacity: 1; }

.canvas__wrapper-info {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .canvas__wrapper-info .canvas-details {
    text-align: center;
    color: #fff; }
    .canvas__wrapper-info .canvas-details-title {
      font-size: 4.8rem;
      letter-spacing: .8rem;
      text-transform: uppercase; }
    .canvas__wrapper-info .canvas-details-line {
      background: #fff;
      width: 150px;
      height: .1rem;
      margin: 2rem auto; }
    .canvas__wrapper-info .canvas-details-date {
      font-size: 1.92rem;
      font-weight: lighter;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-style: italic; }

.home_wrapper {
  width: 100%;
  height: 100vh;
  position: relative; }
  .home_wrapper-canvas {
    background-color: teal; }
  .home_wrapper-intro {
    width: 60%;
    color: #fff;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 2; }
    .home_wrapper-intro #my_name {
      margin-bottom: 2rem;
      font-size: 3rem;
      font-family: 'IM Fell French Canon', serif; }
    .home_wrapper-intro #quotes {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 3rem;
      letter-spacing: .1rem; }
    .home_wrapper-intro .view_all-container {
      margin-top: 4rem; }
      .home_wrapper-intro .view_all-container .view_all-btn {
        cursor: pointer;
        display: inline-block;
        font-size: 1.5rem;
        color: #fff;
        position: relative;
        padding: .5rem;
        box-sizing: border-box;
        background-image: linear-gradient(0deg, white, white);
        background-repeat: no-repeat;
        background-size: 0;
        background-position: center;
        transition: all .2s ease; }
        .home_wrapper-intro .view_all-container .view_all-btn {
          text-decoration: none;
          text-transform: uppercase; }
        .home_wrapper-intro .view_all-container .view_all-btn::before {
          left: -10%;
          border: 2px solid #fff;
          border-right: none;
          -webkit-transform: skewX(25deg); }
          .home_wrapper-intro .view_all-container .view_all-btn::before {
            position: absolute;
            content: '';
            height: 120%;
            width: 70%;
            top: -10%;
            z-index: -2;
            transition: all .2s ease-in; }
        .home_wrapper-intro .view_all-container .view_all-btn::after {
          right: -10%;
          border: 2px solid #fff;
          border-left: none;
          -webkit-transform: skewX(-25deg); }
          .home_wrapper-intro .view_all-container .view_all-btn::after {
            position: absolute;
            content: '';
            height: 120%;
            width: 70%;
            top: -10%;
            z-index: -2;
            transition: all .2s ease-in; }
        .home_wrapper-intro .view_all-container .view_all-btn:hover {
          background-size: 100%;
          color: #000; }
        .home_wrapper-intro .view_all-container .view_all-btn:hover:before, .home_wrapper-intro .view_all-container .view_all-btn:hover:after {
          background-color: #fff;
          -webkit-transform: skewX(0deg); }
  .home_wrapper .gallery-container {
    position: absolute;
    top: 0;
    left: 120%;
    transition: all 1s ease;
    width: 100%;
    background: transparent;
    z-index: 100; }
    .home_wrapper .gallery-container::after {
      content: "";
      display: table;
      clear: both; }
    .home_wrapper .gallery-container .img-link {
      box-sizing: border-box;
      border: 1px solid #1d262d;
      float: left;
      width: calc(100%/8);
      height: 100vh;
      text-align: center;
      position: relative;
      transition: all .3s ease-in; }
      .home_wrapper .gallery-container .img-link {
        text-decoration: none;
        text-transform: uppercase; }
      .home_wrapper .gallery-container .img-link:hover {
        transform: scale(1.2) skewX(-2deg);
        box-shadow: 0 1.5rem 2rem rgba(255, 255, 255, 0.5); }
    .home_wrapper .gallery-container .img-heading {
      transform: translateY(45vh);
      font-size: 2rem;
      font-style: italic;
      color: #fff;
      letter-spacing: .2rem; }
    .home_wrapper .gallery-container .img-link-1 {
      background-image: url(../img/taichi.png); }
      .home_wrapper .gallery-container .img-link-1 {
        background-position: center;
        background-size: cover; }
    .home_wrapper .gallery-container .img-link-2 {
      background-image: url(../img/flash-grid.png); }
      .home_wrapper .gallery-container .img-link-2 {
        background-position: center;
        background-size: cover; }
    .home_wrapper .gallery-container .img-link-3 {
      background-image: url(../img/gravity.png); }
      .home_wrapper .gallery-container .img-link-3 {
        background-position: center;
        background-size: cover; }
    .home_wrapper .gallery-container .img-link-4 {
      background-image: url(../img/rising-rect.png); }
      .home_wrapper .gallery-container .img-link-4 {
        background-position: center;
        background-size: cover; }
    .home_wrapper .gallery-container .img-link-5 {
      background-image: url(../img/lighting-tunnell.png); }
      .home_wrapper .gallery-container .img-link-5 {
        background-position: center;
        background-size: cover; }
    .home_wrapper .gallery-container .img-link-6 {
      background-image: url(../img/growing-rect.png); }
      .home_wrapper .gallery-container .img-link-6 {
        background-position: center;
        background-size: cover; }
    .home_wrapper .gallery-container .img-link-7 {
      background-image: url(../img/grid_home.png); }
      .home_wrapper .gallery-container .img-link-7 {
        background-position: center;
        background-size: cover; }
    .home_wrapper .gallery-container .img-link-8 {
      background-image: url(../img/gear.png); }
      .home_wrapper .gallery-container .img-link-8 {
        background-position: center;
        background-size: cover; }

.navigation {
  position: relative; }
  .navigation__checkbox {
    display: none; }
  .navigation__button {
    background-color: #fff;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 6rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 2000; }
  .navigation__background {
    z-index: 1000;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background: radial-gradient(black, rgba(0, 0, 0, 0.2));
    transform: scale(50); }
  .navigation__nav {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1500; }
  .navigation__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center; }
  .navigation__item {
    margin: 1rem; }
  .navigation__link {
    color: #fff;
    font-size: 3rem;
    font-weight: 300; }
    .navigation__link {
      text-decoration: none;
      text-transform: uppercase; }
