

.canvas__wrapper{
    position: relative;
    width: 100%;
    height: 100vh;
    &-canvas{
        background-color: $color-black;
    }

    [class^='canvas__wrapper-']{
        position: absolute;
        color: $color-white;
        z-index: $stack-order-medium;
    }

    &-info{
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    &-link{
        .prev{
            display:inline-block;
            position: relative;
            font-weight: 700;
            @include clear-underline;
            font-size: 2rem;
            padding: 2rem 5rem 5rem 1rem;
            transform: translateX(10%);
            color: $color-white;
            transition: all .3s ease;
            &::after{
                display: inline-block;
               
                content: 'all projects';
                transform: translate(20%,-20%);
                opacity: 0;
                transition: all .3s ease;
                font-size: 1.2rem;
                letter-spacing: .2rem;
                
            }

            &:hover{
                transform: translateX(-5%);
                &:after{
                    transform: translate(10%,-20%);
                    opacity: 1;
                }
            }
        }
    }
    
}

