

//styling the pages/main.html.....

.gallery-container{
  .img-link{
      float: left;
      width:calc(100%/8);
      height: 100vh;
      text-align: center;
      border: 2px solid red;
  }
    
    
}