.navigation__list-icon{
    margin-top: 4rem;
    .social-icon:link,
    .social-icon:visited{
        display: inline-block;
        color: $color-white;
        font-size: 3rem;
        border: 1px solid white;
        width: 4rem;
        height: 100%;
        border-radius: 50%;
        opacity: 0;
        transform: translateX(-100rem);
        transition: all .5s ease-in;

        &:not(:last-child){
            margin-right: 1.5rem;
        }
        &:hover{
            border: none;
        }
    }
}