$color-black: #000;
$color-white: #fff;
$color-taichi-bg: #1d262d;

//stack order 

$stack-order-low: -2;
$stack-order-medium :2;

//mixin

@mixin clearfix{
    &::after{
        content: "";
        display:table;
        clear: both;
    }
}

@mixin clear-underline{
    &{
        text-decoration: none;
        text-transform: uppercase;
    }
}